name: picpay-jr-devops-challenge
services:
  web:
    build: services/frontend
    ports:
      - "3000:3000"
    networks:
      - frontend
      - backend

  reader:
    build: services/reader
    ports:
      - "8081:8081"
    networks:
      - frontend
    depends_on:
      redis:
        condition: service_healthy

  writer:
    build: services/writer
    ports:
      - "8080:8080"
    networks:
      - backend
    depends_on:
      redis:
        condition: service_healthy

  redis:
    image: "redis:alpine"
    command:
      - /bin/sh
      - -c
      - redis-server --requirepass "$${REDIS_PASSWORD:?REDIS_PASSWORD variable is not set}"
    env_file: .env
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s

networks:
  backend:
  frontend:
